Random Forests

Este projeto tem por objetivo desenvolver um algoritmo de Machine Learning para análise de performance de alunos em provas

Os dados foram extraídos do site do Kaggle:
https://www.kaggle.com/datasets/whenamancodes/students-performance-in-exams

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DataScience/trab3/exams-tratados1.csv', escapechar='\\', encoding='utf-8')

In [ ]:
df.head(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63

In [ ]:
rep_df = df.replace(["associate's degree", "bachelor's degree", "master's degree"], ["associates degree", "bachelors degree", "masters degree"])
rep_df.head(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associates degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelors degree,standard,none,62,59,63

In [ ]:
rep_df.shape

(1000, 8)

In [ ]:
# Transformando as variáveis categóricas nominais em variáveis categóricas ordinais
df2 = pd.DataFrame.copy(rep_df)

In [ ]:
df2['gender'].replace({'male':0, 'female': 1}, inplace=True)
df2['race/ethnicity'].replace({'group A':0, 'group B': 1, 'group C': 2, 'group D': 3, 'group E': 4}, inplace=True)
df2['lunch'].replace({'standard':0, 'free/reduced': 1}, inplace=True)
df2['test preparation course'].replace({'completed':0, 'none': 1}, inplace=True)
df2['parental level of education'].replace({'some high school':0, 'high school': 1, 'some college': 2, 
                                           'bachelors degree': 3, 'associates degree': 4, 'masters degree': 5}, inplace=True)

In [ ]:
df2.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,0,1,0,0,67,67,63
1,1,3,0,1,1,40,59,55
2,0,4,2,1,1,59,60,50
3,0,1,1,0,1,77,78,68
4,0,4,4,0,0,78,73,68
5,1,3,1,0,1,63,77,76
6,1,0,3,0,1,62,59,63
7,0,4,2,0,0,93,88,84
8,0,3,1,0,1,63,56,65
9,0,2,2,1,1,47,42,45

In [ ]:
df2.dtypes

gender                         int64
race/ethnicity                 int64
parental level of education    int64
lunch                          int64
test preparation course        int64
math score                     int64
reading score                  int64
writing score                  int64
dtype: object

In [ ]:
df2.shape

(1000, 8)

Legenda:

Gender: Gênero

Race/Ethnicity: Raça ou etnia

Parental Level of Education: Nível de escolaridade dos pais

Luch: Almoço (se era padrão ou de graça/reduzido)

Test Preparation Course: Curso preparatório para testes - sem é completo ou se não tem

Math Score: Pontuação em matemática

Reading Score: Pontuação em leitura

Writing Score: Pontuação em escrita

In [ ]:
# ATRIBUTOS PREVISORES E ALVO
df2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,0,1,0,0,67,67,63
1,1,3,0,1,1,40,59,55
2,0,4,2,1,1,59,60,50
3,0,1,1,0,1,77,78,68
4,0,4,4,0,0,78,73,68

In [ ]:
previsores = df2.iloc[:, 0:8].values
previsores

array([[ 0,  0,  1, ..., 67, 67, 63],
       [ 1,  3,  0, ..., 40, 59, 55],
       [ 0,  4,  2, ..., 59, 60, 50],
       ...,
       [ 1,  2,  0, ..., 32, 35, 41],
       [ 1,  2,  2, ..., 73, 74, 82],
       [ 0,  0,  2, ..., 65, 60, 62]])

In [ ]:
previsores.shape

(1000, 8)

In [ ]:
alvo = df2.iloc[:, 7].values
alvo

array([ 63,  55,  50,  68,  68,  76,  63,  84,  65,  45,  85,  90,  85,
        73,  85,  57,  42,  65,  44,  31,  88,  55,  73,  54,  32,  42,
        56,  60,  89,  51,  77,  73,  39,  71,  89,  74,  75,  54,  73,
        77,  72,  64,  82,  70,  87,  51,  57,  78,  73,  57,  64,  60,
        85,  49,  47,  62,  84,  83,  51,  48,  68,  59,  62,  78,  97,
        70,  56,  49,  60,  57,  73,  47,  63,  81,  67,  70,  59,  81,
        76,  45,  62,  42,  59,  73,  39,  69,  69,  88,  61,  72,  42,
        70,  87,  93,  72,  67, 100,  49,  49,  53,  62,  79,  77,  67,
        58,  82,  73,  44,  71,  33,  86,  47,  71,  33,  74,  76,  63,
        55,  58,  87,  71,  89,  62,  45,  86,  58,  64,  45,  87, 100,
        82,  64,  57,  56,  54,  69,  76,  68,  49,  64,  57,  83,  87,
        60,  68,  57,  66,  46, 100,  44,  80,  59,  76,  73,  58,  47,
        59,  87,  93,  79,  97,  65,  91,  75,  70,  92,  58,  68,  93,
        83,  59,  76,  71,  62,  72,  60,  56,  51,  95,  86,  64,  49,
        89,  76,  87,  99,  67,  59,  64,  53,  53,  51,  61,  89,  66,
        48,  48,  51,  70,  65,  65,  47,  70,  67,  82,  75,  84,  81,
        84,  66,  68,  85,  70,  64,  77,  60,  66,  77,  68,  62,  83,
        74,  44,  83,  97,  72,  39,  73,  81,  82,  78,  70,  33,  72,
        82,  90,  64,  96,  64,  75,  82,  83,  58,  63,  28,  71,  42,
        61,  52,  80,  71,  70,  61,  65,  54,  59,  74,  67,  70,  89,
        62,  50,  50,  63,  88,  64,  70,  77,  62,  72,  71,  72,  65,
        93,  92,  79,  70,  77,  47,  66,  80, 100,  66,  39,  49,  80,
        84,  42,  77,  59,  76,  82,  66,  70,  60,  86,  46,  52,  50,
        39,  24,  40,  49,  66,  66,  60,  63,  67,  73,  75,  70,  53,
        43,  80,  63,  94,  64,  81,  89,  79,  49,  81,  54,  85,  80,
        64,  78,  60,  59,  65,  71,  81,  43,  82,  40,  72,  58,  49,
        62,  80,  58,  47,  54,  61,  79,  54,  87,  72,  64,  92,  64,
        47,  84,  67,  68,  51,  68,  64,  68,  48,  83,  43,  66,  77,
        65,  67,  60,  64,  60,  74,  76,  76,  73,  56,  84,  64,  89,
        42,  90,  90,  43,  94,  76,  81,  79,  87,  50,  61,  78,  78,
        64,  51,  23,  56,  54,  83, 100,  86,  83,  69,  75,  67,  73,
        66,  79,  56,  85,  68,  43,  71,  58,  72,  61,  61,  61,  64,
        59,  68,  59,  33,  63,  70,  38,  74,  30,  78,  66,  73,  47,
        76,  85,  71,  72,  93,  66,  83,  69,  44,  90,  66,  62, 100,
        61,  35,  95,  66,  71,  64,  53,  75,  64,  51,  88,  46,  77,
        60,  89,  82,  59,  60,  56,  41,  50,  71,  60,  58,  82,  63,
        69,  53,  96,  79,  68,  43,  65,  71,  78,  59,  68,  45,  84,
        83,  83,  82,  89,  96,  60,  58,  74,  75,  74,  76,  49,  76,
        60,  60,  28,  66,  93,  81,  63,  92,  59,  72,  53,  86,  63,
        55,  57,  72,  71,  86,  71,  89,  72,  56,  48,  32,  82,  93,
        82,  82,  71,  78,  48,  66,  71,  97,  59,  71,  88,  73,  56,
        73,  86,  90,  63,  76,  72,  68,  76,  79,  86,  60,  85,  76,
        63,  50,  43,  53, 100,  65,  98,  66,  73,  48,  35,  62,  81,
        36,  57,  60,  73,  66,  94,  83,  53,  87,  27,  66,  60,  94,
        43,  76,  56,  94,  52,  62,  71,  50,  82,  68,  75,  79,  88,
        64,  74,  89,  89,  71,  75, 100,  66, 100,  62,  54,  90,  54,
        40,  90,  56,  76,  45,  71, 100,  36,  77,  65,  50,  70,  54,
        78,  69,  82,  64,  48,  97,  64,  53,  68,  57,  52,  84,  82,
        80,  59, 100,  85,  76,  54,  73,  58,  54,  53, 100,  92,  56,
        68,  80,  65,  84,  69,  65,  63,  49,  60,  78,  71,  91,  40,
        71,  70,  97,  36,  56,  78,  74,  66,  72,  48,  97,  69,  95,
        75,  79,  73,  89,  61,  44,  46,  35,  86,  45,  69,  60,  65,
        62,  75,  70,  59,  48,  47,  76,  62,  70,  56,  62,  71,  71,
        26,  92,  80,  84,  53,  90,  62,  63,  73,  75,  74,  34,  43,
        71,  69,  72,  66, 100,  82,  81,  60,  59,  73,  41,  58,  75,
        59,  90,  41,  62,  43,  42,  95,  56,  62,  57,  49,  86,  66,
        61,  37,  81,  71,  86,  66,  53,  93,  87,  81,  69,  75,  51,
        67,  84,  95,  78,  72,  40,  87,  91,  66,  70,  93,  61,  54,
       100,  77,  93,  60,  63,  83,  66,  73,  53,  90,  67,  49,  65,
        83,  42,  63,  68,  85,  78,  76,  65,  31,  38,  68,  44,  47,
       100,  80,  92,  63,  87,  57,  73,  87,  60,  62,  83,  71,  73,
        71,  84,  44,  89,  61,  50,  54,  80,  63,  87,  48,  61,  48,
        71,  64,  84,  52,  41,  56,  63,  62,  88,  64, 100,  73,  75,
        70,  74,  64,  83,  65,  70, 100,  99,  78,  88,  35,  41,  47,
        37,  78,  80,  79,  65,  63,  70,  88,  45,  70,  95,  86,  74,
        64,  53,  65,  86,  68,  80,  80,  50,  72,  95, 100,  55,  97,
        91,  79,  90,  89,  82,  63,  77,  71,  58,  82,  58,  54,  58,
        52,  83,  60,  65,  54,  57,  66,  63,  50,  72,  87,  58,  80,
        77,  23,  61,  75,  62,  80,  50,  70,  43,  51,  78,  85,  64,
        69,  85,  27,  48,  68,  73,  58,  71,  77,  79,  64,  46,  69,
        61,  55,  64,  67,  65,  69,  68,  69,  67,  79,  57,  74,  55,
        61,  64,  59,  69,  65,  58,  79,  89,  44,  75,  65,  65,  72,
        50,  41,  32,  57,  77,  79,  83,  66,  73,  55,  73,  64,  45,
        65,  90,  78,  60,  70,  53,  81,  74,  54,  59,  83,  55,  84,
        44,  71,  86,  89,  70,  99,  48,  52,  97,  44,  74,  67,  58,
        70,  35,  65,  45,  68,  49,  48,  72,  47,  75,  67,  77,  74,
        81,  65,  53,  88,  66,  58,  75,  65,  92,  41,  82,  62])

In [ ]:
alvo.shape

(1000,)

In [ ]:
# Análise das escalas dos atributos (Escalonamento)
df2.describe()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.483000,2.161000,2.144000,0.348000,0.665000,66.396000,69.002000,67.738000
std,0.499961,1.132414,1.581697,0.476574,0.472227,15.402871,14.737272,15.600985
min,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,27.000000,23.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,56.000000,60.000000,58.000000
50%,0.000000,2.000000,2.000000,0.000000,1.000000,66.500000,70.000000,68.000000
75%,1.000000,3.000000,4.000000,1.000000,1.000000,77.000000,79.000000,79.000000
max,1.000000,4.000000,5.000000,1.000000,1.000000,100.000000,100.000000,100.000000

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
previsores_esc = StandardScaler().fit_transform(previsores)

In [ ]:
previsores_esc

array([[-0.96655883, -1.90926764, -0.72363566, ...,  0.03923309,
        -0.13591401, -0.30385073],
       [ 1.03459817,  0.74126587, -1.35618431, ..., -1.714564  ,
        -0.67902695, -0.81689543],
       [-0.96655883,  1.62477704, -0.09108701, ..., -0.48041049,
        -0.61113783, -1.13754838],
       ...,
       [ 1.03459817, -0.1422453 , -1.35618431, ..., -2.23420758,
        -2.30836575, -1.71472367],
       [ 1.03459817, -0.1422453 , -0.09108701, ...,  0.42896578,
         0.33930981,  0.91463045],
       [-0.96655883, -1.90926764, -0.09108701, ..., -0.0906778 ,
        -0.61113783, -0.36798132]])

In [ ]:
previsoresdf = pd.DataFrame(previsores_esc)
previsoresdf

,0,1,2,3,4,5,6,7
0,-0.966559,-1.909268,-0.723636,-0.730577,-1.408927,0.039233,-0.135914,-0.303851
1,1.034598,0.741266,-1.356184,1.368782,0.709760,-1.714564,-0.679027,-0.816895
2,-0.966559,1.624777,-0.091087,1.368782,0.709760,-0.480410,-0.611138,-1.137548
3,-0.966559,-1.025756,-0.723636,-0.730577,0.709760,0.688788,0.610866,0.016802
4,-0.966559,1.624777,1.174010,-0.730577,-1.408927,0.753743,0.271421,0.016802
...,...,...,...,...,...,...,...,...
995,-0.966559,-0.142245,-0.723636,-0.730577,0.709760,0.428966,0.067753,-0.175590
996,-0.966559,0.741266,1.174010,1.368782,-1.408927,1.208431,1.493425,1.555936
997,1.034598,-0.142245,-1.356184,1.368782,0.709760,-2.234208,-2.308366,-1.714724
998,1.034598,-0.142245,-0.091087,-0.730577,0.709760,0.428966,0.339310,0.914630
999,-0.966559,-1.909268,-0.091087,-0.730577,-1.408927,-0.090678,-0.611138,-0.367981

RESUMO PRÉ-PROCESSAMENTO

alvo = variável que se pretende atingir.

previsores = conjunto de variáveis previsoras com as variáveis categóricas transformadas em numéricas manualmente, sem escalonar.

previsores_esc = conjunto de variáveis previsoras com as variáveis categóricas transformadas em numéricas, escalonada.

In [ ]:
# BASE DE TREINO E TESTE
from sklearn.model_selection import train_test_split

In [ ]:
x_treino, x_teste, y_treino, y_teste = train_test_split(previsores_esc, alvo, test_size = 0.3, random_state = 0)

In [ ]:
x_treino.shape

(700, 8)

In [ ]:
x_teste.shape

(300, 8)

In [ ]:
y_treino.shape

(700,)

In [ ]:
y_teste.shape

(300,)

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
random = RandomForestClassifier(n_estimators=150, criterion='entropy', random_state = 0, max_depth=4)
random.fit(x_treino, y_treino)

RandomForestClassifier(criterion='entropy', max_depth=4, n_estimators=150,
                       random_state=0)

In [ ]:
previsoes_random = random.predict(x_teste)
previsoes_random

array([ 58,  78,  58,  66,  49,  48,  64,  71,  64, 100,  40,  76,  87,
        76,  71,  62,  79,  60,  86,  84,  71,  83,  70,  53,  79,  64,
        47,  64,  66,  53,  65,  60,  64,  83,  42, 100,  54,  60,  64,
        76,  84, 100,  87,  75,  71,  66,  71,  71,  64,  89,  78,  84,
        53,  70,  81,  71,  64,  71,  76,  84,  66,  64,  87,  71,  62,
        47,  82,  71,  64,  47,  71,  43,  54,  64,  71,  60,  78,  78,
        71,  58,  47,  90,  53,  70,  71,  53,  64, 100,  66,  64,  87,
        64,  62,  64,  80, 100,  42,  72,  64,  47,  56,  58,  70,  73,
        81,  56,  87,  64,  58,  75,  49,  76,  83,  84,  58,  87,  76,
        75,  71, 100, 100,  71,  62,  71,  68,  71,  71,  42,  58,  47,
        64,  70,  89,  58,  54,  80,  42,  64,  71,  58,  78,  47,  81,
        78,  47,  47,  78,  79,  54,  89,  71,  76,  64,  64,  72,  54,
        83,  64, 100,  83,  83,  78,  70,  75,  66, 100,  53,  82,  47,
        58,  56,  44,  58, 100,  47, 100,  84, 100,  66,  68,  83,  62,
        64, 100,  64,  54,  42,  59,  76,  83,  79,  43,  84,  76,  64,
        58,  53,  60,  42,  75,  71,  64,  47,  68,  72,  60, 100,  47,
        78,  78,  42,  71,  54,  76,  84,  64, 100,  59,  70,  64,  47,
        64,  86,  71,  84,  59, 100,  71,  43,  79, 100,  71,  84,  84,
        64,  47,  47, 100,  71,  47,  89,  90,  64,  64, 100,  53,  68,
        54,  68,  64,  66,  64,  71,  54,  72,  73,  72,  60,  58,  70,
        73,  47,  71,  58,  73,  47,  71,  84,  54,  59,  71,  66,  64,
        89,  48,  53,  83,  49,  42,  71,  73,  71,  82, 100,  66,  76,
        53,  53,  58,  47,  71,  68,  42,  53,  42,  64,  72,  71,  71,
        86])

In [ ]:
y_teste

array([ 58,  79,  50,  66,  45,  44,  60,  70,  63, 100,  28,  81,  87,
        75,  71,  62,  79,  60,  85,  81,  73,  83,  70,  53,  80,  60,
        51,  67,  66,  55,  65,  59,  64,  83,  43,  87,  54,  60,  67,
        77,  78,  92,  92,  75,  70,  63,  70,  83,  64,  89,  81,  86,
        50,  72,  82,  75,  65,  71,  74,  79,  66,  63,  87,  70,  61,
        48,  88,  73,  61,  52,  69,  39,  51,  61,  69,  61,  78,  89,
        76,  56,  50,  89,  50,  72,  69,  53,  64,  92,  66,  65,  88,
        60,  61,  66,  80,  96,  27,  71,  64,  49,  57,  60,  70,  73,
        81,  56,  89,  62,  59,  77,  49,  79,  82,  78,  59,  87,  76,
        76,  75,  89, 100,  71,  62,  73,  68,  74,  73,  39,  57,  50,
        60,  73,  90,  58,  54,  80,  43,  65,  71,  57,  79,  48,  82,
        80,  47,  30,  79,  83,  47,  89,  72,  77,  66,  60,  70,  53,
        82,  66,  90,  82,  82,  77,  71,  77,  65,  90,  49,  83,  47,
        59,  55,  44,  57,  99,  49,  93,  82,  91,  61,  68,  83,  62,
        63,  94,  65,  55,  41,  59,  76,  82,  80,  37,  83,  76,  63,
        59,  56,  60,  36,  80,  71,  63,  43,  68,  73,  57,  88,  48,
        82,  77,  33,  69,  54,  78,  85,  66,  93,  58,  72,  64,  48,
        66,  86,  70,  85,  60, 100,  71,  44,  78,  97,  73,  84,  84,
        62,  45,  48,  89,  70,  49,  90,  89,  65,  65,  88,  50,  68,
        50,  68,  62,  65,  61,  69,  52,  70,  73,  72,  58,  57,  73,
        73,  49,  69,  57,  75,  45,  72,  79,  54,  59,  73,  62,  64,
        91,  49,  55,  82,  48,  35,  71,  74,  71,  84,  97,  65,  77,
        50,  54,  59,  44,  69,  68,  40,  55,  34,  68,  82,  75,  76,
        85])

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
print("Acurácia: %.2f%%" % (accuracy_score(y_teste, previsoes_random) * 100.0))

Acurácia: 25.00%

In [ ]:
confusion_matrix(y_teste, previsoes_random)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 2],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 3]])

In [ ]:
print(classification_report(y_teste, previsoes_random))

              precision    recall  f1-score   support

          27       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          30       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          36       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          39       0.00      0.00      0.00         2
          40       0.00      0.00      0.00         1
          41       0.00      0.00      0.00         1
          42       0.00      0.00      0.00         0
          43       0.00      0.00      0.00         3
          44       1.00      0.25      0.40         4
          45       0.00      0.00      0.00         3
          47       0.10      0.67      0.17         3
          48       0.00      0.00      0.00         6
          49       0.33      0.14      0.20         7
          50       0.00      0.00      0.00         8
          51       0.00      0.00      0.00         2
          52       0.00      0.00      0.00         2
          53       0.17      0.67      0.27         3
          54       0.40      0.80      0.53         5
          55       0.00      0.00      0.00         5
          56       0.33      0.33      0.33         3
          57       0.00      0.00      0.00         7
          58       0.13      0.50      0.21         4
          59       0.50      0.25      0.33         8
          60       0.43      0.30      0.35        10
          61       0.00      0.00      0.00         7
          62       0.60      0.43      0.50         7
          63       0.00      0.00      0.00         6
          64       0.17      1.00      0.29         6
          65       1.00      0.10      0.18        10
          66       0.40      0.44      0.42         9
          67       0.00      0.00      0.00         2
          68       1.00      0.86      0.92         7
          69       0.00      0.00      0.00         7
          70       0.25      0.20      0.22        10
          71       0.22      0.80      0.35        10
          72       0.17      0.17      0.17         6
          73       0.60      0.25      0.35        12
          74       0.00      0.00      0.00         3
          75       0.20      0.17      0.18         6
          76       0.27      0.50      0.35         6
          77       0.00      0.00      0.00         7
          78       0.10      0.20      0.13         5
          79       0.20      0.14      0.17         7
          80       1.00      0.33      0.50         6
          81       0.33      0.25      0.29         4
          82       0.00      0.00      0.00        11
          83       0.33      0.43      0.38         7
          84       0.17      0.67      0.27         3
          85       0.00      0.00      0.00         4
          86       0.33      0.50      0.40         2
          87       0.50      0.75      0.60         4
          88       0.00      0.00      0.00         4
          89       0.40      0.25      0.31         8
          90       0.00      0.00      0.00         4
          91       0.00      0.00      0.00         2
          92       0.00      0.00      0.00         3
          93       0.00      0.00      0.00         2
          94       0.00      0.00      0.00         1
          96       0.00      0.00      0.00         1
          97       0.00      0.00      0.00         2
          99       0.00      0.00      0.00         1
         100       0.15      1.00      0.26         3

    accuracy                           0.25       300
   macro avg       0.18      0.20      0.15       300
weighted avg       0.26      0.25      0.21       300

In [ ]:
# Análise dados de treino
previsoes_treino = random.predict(x_treino)
previsoes_treino

array([ 82,  60,  45,  71,  66,  70,  78,  76,  64,  56,  42,  64,  71,
        87,  76,  43,  64,  76,  47,  57,  86,  64,  76,  64,  70,  60,
        71,  72,  64,  84,  64, 100, 100,  53,  86,  64,  86,  71,  71,
        64,  60,  59,  58,  85,  87,  49,  47,  57, 100,  72,  83,  71,
        68,  83,  84,  73,  64,  42,  54,  64,  78,  65,  72,  73,  62,
        83,  71,  54,  81,  64,  67,  58,  59,  65,  58,  42,  71,  43,
        89,  76,  82,  87,  70,  71,  43,  68,  89,  64,  53,  59,  62,
        71,  64,  90,  74,  42,  79,  82,  64,  64,  86,  42,  69,  89,
        59,  71,  87,  54, 100,  83, 100,  64,  62,  67,  42,  86,  71,
       100,  64,  64,  56,  48,  78,  67,  47,  78,  41,  47,  58,  54,
        79,  58,  54,  47,  84, 100,  62,  66,  64,  53,  62, 100,  90,
        64,  62,  66,  42,  82,  47,  84,  71,  64,  83,  79,  84,  53,
        64,  74,  75,  42,  42,  59,  76,  71,  83,  64,  82,  73,  83,
       100,  89,  78,  58,  64,  53,  40,  84,  53,  60,  42,  71,  54,
        56,  73,  84,  64,  66,  68,  81,  84,  44,  64,  45,  64,  75,
        71,  53,  42,  79,  64,  58, 100,  86,  79,  66, 100,  67, 100,
        73, 100,  58,  72,  62,  47,  87, 100,  64, 100, 100,  80,  81,
        66,  72,  71,  64,  42,  78,  54,  89,  44,  81, 100,  83,  60,
        76,  72,  71,  64,  71,  42, 100,  71,  68,  64,  64,  64,  53,
        66,  68,  64,  71,  72,  54,  51,  66,  42,  64,  60,  43,  71,
        72,  72,  47,  75,  42,  35,  78,  76,  78,  83,  83,  89,  71,
        84,  56,  64,  89,  84,  73,  68,  84,  58,  47,  53,  78,  68,
        84,  66,  73,  54,  86,  64,  75,  41, 100,  82,  75,  43,  42,
        71,  70,  48,  53,  48,  42,  44,  42,  58,  73,  60,  75,  58,
        48,  64,  66,  74,  87,  72,  71,  47,  66,  42,  53,  62,  71,
        74,  66,  64,  62,  71,  64,  71,  42,  76,  48,  42,  71,  71,
        47,  86,  58,  71,  49, 100,  66, 100,  71, 100,  48,  73,  78,
        60,  88,  81, 100,  64,  65,  64,  78,  48,  51,  76,  64,  70,
        70,  72,  42, 100,  59,  41,  76,  65,  84, 100,  48,  56, 100,
       100,  90,  73,  83,  64,  66,  64, 100,  42,  85,  62,  58,  64,
        54,  42,  64,  58,  72,  71,  58,  73,  58,  64,  60,  51,  72,
        58,  47,  74,  56, 100,  72,  89,  64,  54,  78,  78,  53,  76,
        71,  88,  54,  87,  76,  79,  53,  42,  60,  71,  58,  84,  47,
        58,  70,  64,  76,  87,  53,  84,  53,  81,  56,  53,  49,  76,
       100,  78,  47,  75,  77,  68,  82,  78,  44,  71,  71, 100,  49,
        71, 100, 100,  70,  58,  64,  89,  43,  86,  71,  90,  82,  49,
        42, 100,  66, 100, 100,  89,  47,  58,  81, 100, 100, 100,  58,
       100,  80,  42,  66,  42,  53,  78,  89,  75,  53,  79,  69,  54,
        64,  56,  60,  42,  86,  44,  76,  59,  64,  49,  41,  40,  64,
        66,  64,  84,  83,  69,  53,  64,  58,  66,  42,  59,  48,  71,
        39,  71,  56,  70,  71,  80,  84,  71,  89, 100,  87,  71,  83,
        39,  79,  71,  72,  89,  41,  62,  67,  68,  90,  71,  71,  47,
        75,  49,  54,  64,  89,  70,  73,  66, 100,  71,  62,  47,  53,
        56,  48,  42,  82,  71,  54,  54,  49,  76,  71,  81,  47,  60,
        70,  54,  62,  89, 100,  66, 100,  74,  78,  51,  64,  44,  66,
        84,  68,  60,  47,  71,  56,  43,  71,  71, 100,  60,  53,  64,
        58,  64,  64,  73,  66,  80,  64,  41,  53,  83,  75,  83,  64,
        71,  59,  86,  47,  87,  58,  82, 100,  82,  64,  62,  64,  61,
        82,  64,  78,  72, 100, 100,  74, 100,  68,  49,  75,  47,  87,
        87,  89,  76,  58,  60,  71,  65,  60,  42,  75,  60,  84,  65,
        74,  64,  71,  74,  64,  54,  48,  62,  70,  51,  53,  80,  53,
        71,  65,  64,  76,  76,  71,  71,  64,  64,  71,  72,  68,  48,
        72, 100,  64,  60,  66,  64, 100,  56,  68,  73,  90,  64, 100,
        76,  64,  45,  48,  84, 100,  79,  64,  54,  42,  70])

In [ ]:
accuracy_score(y_treino, previsoes_treino)

0.59

In [ ]:
confusion_matrix(y_treino, previsoes_treino)

array([[ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  1],
       [ 0,  0,  0, ...,  0,  0,  2],
       [ 0,  0,  0, ...,  0,  0, 15]])

Random Forest - teste e treino = 85%