Regressão Logística

Este projeto tem por objetivo desenvolver um algoritmo de Machine Learning para análise da performance de alunos em provas

Os dados foram extraídos do site do Kaggle: https://www.kaggle.com/datasets/whenamancodes/students-performance-in-exams

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/DataScience/trab3/exams-tratados1.csv', escapechar='\\', encoding='utf-8')

In [4]:
df.head(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63

In [5]:
rep_df = df.replace(["associate's degree", "bachelor's degree", "master's degree"], ["associates degree", "bachelors degree", "masters degree"])
rep_df.head(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associates degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelors degree,standard,none,62,59,63

In [6]:
rep_df.shape

(1000, 8)

In [7]:
# Transformando as variáveis categóricas nominais em variáveis categóricas ordinais
df2 = pd.DataFrame.copy(rep_df)

In [8]:
df2['gender'].replace({'male':0, 'female': 1}, inplace=True)
df2['race/ethnicity'].replace({'group A':0, 'group B': 1, 'group C': 2, 'group D': 3, 'group E': 4}, inplace=True)
df2['lunch'].replace({'standard':0, 'free/reduced': 1}, inplace=True)
df2['test preparation course'].replace({'completed':0, 'none': 1}, inplace=True)
df2['parental level of education'].replace({'some high school':0, 'high school': 1, 'some college': 2, 
                                           'bachelors degree': 3, 'associates degree': 4, 'masters degree': 5}, inplace=True)

In [9]:
df2.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,0,1,0,0,67,67,63
1,1,3,0,1,1,40,59,55
2,0,4,2,1,1,59,60,50
3,0,1,1,0,1,77,78,68
4,0,4,4,0,0,78,73,68
5,1,3,1,0,1,63,77,76
6,1,0,3,0,1,62,59,63
7,0,4,2,0,0,93,88,84
8,0,3,1,0,1,63,56,65
9,0,2,2,1,1,47,42,45

In [10]:
df2.dtypes

gender                         int64
race/ethnicity                 int64
parental level of education    int64
lunch                          int64
test preparation course        int64
math score                     int64
reading score                  int64
writing score                  int64
dtype: object

In [11]:
df2.shape

(1000, 8)

In [12]:
# OneHotEncoder: Criação de variáveis Dummy (fictícia)
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
encoder = OneHotEncoder()
oneHotEncoder = encoder.fit_transform(df[['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']])

In [14]:
oneHotEncoder.todense()

matrix([[0., 1., 1., ..., 1., 1., 0.],
        [1., 0., 0., ..., 0., 0., 1.],
        [0., 1., 0., ..., 0., 0., 1.],
        ...,
        [1., 0., 0., ..., 0., 0., 1.],
        [1., 0., 0., ..., 1., 0., 1.],
        [0., 1., 1., ..., 1., 1., 0.]])

In [15]:
oneHotEncoder.shape

(1000, 17)

In [16]:
nome_colunas = encoder.get_feature_names(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'])
df3_encoder = pd.DataFrame(oneHotEncoder.todense(), columns= nome_colunas)
df3_encoder

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
996,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
997,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
998,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
999,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [17]:
df3 = pd.concat([df, df3_encoder], axis=1).drop(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'], axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   math score                                      1000 non-null   int64
 1   reading score                                   1000 non-null   int64
 2   writing score                                   1000 non-null   int64
 3   gender_female                                   1000 non-null   float64
 4   gender_male                                     1000 non-null   float64
 5   race/ethnicity_group A                          1000 non-null   float64
 6   race/ethnicity_group B                          1000 non-null   float64
 7   race/ethnicity_group C                          1000 non-null   float64
 8   race/ethnicity_group D                          1000 non-null   float64
 9   race/ethnicity_group E                          1000 non-null   float64
 10  parental level of education_associate's degree  1000 non-null   float64
 11  parental level of education_bachelor's degree   1000 non-null   float64
 12  parental level of education_high school         1000 non-null   float64
 13  parental level of education_master's degree     1000 non-null   float64
 14  parental level of education_some college        1000 non-null   float64
 15  parental level of education_some high school    1000 non-null   float64
 16  lunch_free/reduced                              1000 non-null   float64
 17  lunch_standard                                  1000 non-null   float64
 18  test preparation course_completed               1000 non-null   float64
 19  test preparation course_none                    1000 non-null   float64
dtypes: float64(17), int64(3)
memory usage: 156.4 KB

Legenda:

Gender: Gênero

Race/Ethnicity: Raça ou etnia

Parental Level of Education: Nível de escolaridade dos pais

Luch: Almoço (se era padrão ou de graça/reduzido)

Test Preparation Course: Curso preparatório para testes - sem é completo ou se não tem

Math Score: Pontuação em matemática

Reading Score: Pontuação em leitura

Writing Score: Pontuação em escrita

In [18]:
# ATRIBUTOS PREVISORES E ALVO
df2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,0,1,0,0,67,67,63
1,1,3,0,1,1,40,59,55
2,0,4,2,1,1,59,60,50
3,0,1,1,0,1,77,78,68
4,0,4,4,0,0,78,73,68

In [20]:
previsores = df2.iloc[:, 0:8].values
previsores

array([[ 0,  0,  1, ..., 67, 67, 63],
       [ 1,  3,  0, ..., 40, 59, 55],
       [ 0,  4,  2, ..., 59, 60, 50],
       ...,
       [ 1,  2,  0, ..., 32, 35, 41],
       [ 1,  2,  2, ..., 73, 74, 82],
       [ 0,  0,  2, ..., 65, 60, 62]])

In [21]:
previsores.shape

(1000, 8)

In [22]:
alvo = df2.iloc[:, 7].values
alvo

array([ 63,  55,  50,  68,  68,  76,  63,  84,  65,  45,  85,  90,  85,
        73,  85,  57,  42,  65,  44,  31,  88,  55,  73,  54,  32,  42,
        56,  60,  89,  51,  77,  73,  39,  71,  89,  74,  75,  54,  73,
        77,  72,  64,  82,  70,  87,  51,  57,  78,  73,  57,  64,  60,
        85,  49,  47,  62,  84,  83,  51,  48,  68,  59,  62,  78,  97,
        70,  56,  49,  60,  57,  73,  47,  63,  81,  67,  70,  59,  81,
        76,  45,  62,  42,  59,  73,  39,  69,  69,  88,  61,  72,  42,
        70,  87,  93,  72,  67, 100,  49,  49,  53,  62,  79,  77,  67,
        58,  82,  73,  44,  71,  33,  86,  47,  71,  33,  74,  76,  63,
        55,  58,  87,  71,  89,  62,  45,  86,  58,  64,  45,  87, 100,
        82,  64,  57,  56,  54,  69,  76,  68,  49,  64,  57,  83,  87,
        60,  68,  57,  66,  46, 100,  44,  80,  59,  76,  73,  58,  47,
        59,  87,  93,  79,  97,  65,  91,  75,  70,  92,  58,  68,  93,
        83,  59,  76,  71,  62,  72,  60,  56,  51,  95,  86,  64,  49,
        89,  76,  87,  99,  67,  59,  64,  53,  53,  51,  61,  89,  66,
        48,  48,  51,  70,  65,  65,  47,  70,  67,  82,  75,  84,  81,
        84,  66,  68,  85,  70,  64,  77,  60,  66,  77,  68,  62,  83,
        74,  44,  83,  97,  72,  39,  73,  81,  82,  78,  70,  33,  72,
        82,  90,  64,  96,  64,  75,  82,  83,  58,  63,  28,  71,  42,
        61,  52,  80,  71,  70,  61,  65,  54,  59,  74,  67,  70,  89,
        62,  50,  50,  63,  88,  64,  70,  77,  62,  72,  71,  72,  65,
        93,  92,  79,  70,  77,  47,  66,  80, 100,  66,  39,  49,  80,
        84,  42,  77,  59,  76,  82,  66,  70,  60,  86,  46,  52,  50,
        39,  24,  40,  49,  66,  66,  60,  63,  67,  73,  75,  70,  53,
        43,  80,  63,  94,  64,  81,  89,  79,  49,  81,  54,  85,  80,
        64,  78,  60,  59,  65,  71,  81,  43,  82,  40,  72,  58,  49,
        62,  80,  58,  47,  54,  61,  79,  54,  87,  72,  64,  92,  64,
        47,  84,  67,  68,  51,  68,  64,  68,  48,  83,  43,  66,  77,
        65,  67,  60,  64,  60,  74,  76,  76,  73,  56,  84,  64,  89,
        42,  90,  90,  43,  94,  76,  81,  79,  87,  50,  61,  78,  78,
        64,  51,  23,  56,  54,  83, 100,  86,  83,  69,  75,  67,  73,
        66,  79,  56,  85,  68,  43,  71,  58,  72,  61,  61,  61,  64,
        59,  68,  59,  33,  63,  70,  38,  74,  30,  78,  66,  73,  47,
        76,  85,  71,  72,  93,  66,  83,  69,  44,  90,  66,  62, 100,
        61,  35,  95,  66,  71,  64,  53,  75,  64,  51,  88,  46,  77,
        60,  89,  82,  59,  60,  56,  41,  50,  71,  60,  58,  82,  63,
        69,  53,  96,  79,  68,  43,  65,  71,  78,  59,  68,  45,  84,
        83,  83,  82,  89,  96,  60,  58,  74,  75,  74,  76,  49,  76,
        60,  60,  28,  66,  93,  81,  63,  92,  59,  72,  53,  86,  63,
        55,  57,  72,  71,  86,  71,  89,  72,  56,  48,  32,  82,  93,
        82,  82,  71,  78,  48,  66,  71,  97,  59,  71,  88,  73,  56,
        73,  86,  90,  63,  76,  72,  68,  76,  79,  86,  60,  85,  76,
        63,  50,  43,  53, 100,  65,  98,  66,  73,  48,  35,  62,  81,
        36,  57,  60,  73,  66,  94,  83,  53,  87,  27,  66,  60,  94,
        43,  76,  56,  94,  52,  62,  71,  50,  82,  68,  75,  79,  88,
        64,  74,  89,  89,  71,  75, 100,  66, 100,  62,  54,  90,  54,
        40,  90,  56,  76,  45,  71, 100,  36,  77,  65,  50,  70,  54,
        78,  69,  82,  64,  48,  97,  64,  53,  68,  57,  52,  84,  82,
        80,  59, 100,  85,  76,  54,  73,  58,  54,  53, 100,  92,  56,
        68,  80,  65,  84,  69,  65,  63,  49,  60,  78,  71,  91,  40,
        71,  70,  97,  36,  56,  78,  74,  66,  72,  48,  97,  69,  95,
        75,  79,  73,  89,  61,  44,  46,  35,  86,  45,  69,  60,  65,
        62,  75,  70,  59,  48,  47,  76,  62,  70,  56,  62,  71,  71,
        26,  92,  80,  84,  53,  90,  62,  63,  73,  75,  74,  34,  43,
        71,  69,  72,  66, 100,  82,  81,  60,  59,  73,  41,  58,  75,
        59,  90,  41,  62,  43,  42,  95,  56,  62,  57,  49,  86,  66,
        61,  37,  81,  71,  86,  66,  53,  93,  87,  81,  69,  75,  51,
        67,  84,  95,  78,  72,  40,  87,  91,  66,  70,  93,  61,  54,
       100,  77,  93,  60,  63,  83,  66,  73,  53,  90,  67,  49,  65,
        83,  42,  63,  68,  85,  78,  76,  65,  31,  38,  68,  44,  47,
       100,  80,  92,  63,  87,  57,  73,  87,  60,  62,  83,  71,  73,
        71,  84,  44,  89,  61,  50,  54,  80,  63,  87,  48,  61,  48,
        71,  64,  84,  52,  41,  56,  63,  62,  88,  64, 100,  73,  75,
        70,  74,  64,  83,  65,  70, 100,  99,  78,  88,  35,  41,  47,
        37,  78,  80,  79,  65,  63,  70,  88,  45,  70,  95,  86,  74,
        64,  53,  65,  86,  68,  80,  80,  50,  72,  95, 100,  55,  97,
        91,  79,  90,  89,  82,  63,  77,  71,  58,  82,  58,  54,  58,
        52,  83,  60,  65,  54,  57,  66,  63,  50,  72,  87,  58,  80,
        77,  23,  61,  75,  62,  80,  50,  70,  43,  51,  78,  85,  64,
        69,  85,  27,  48,  68,  73,  58,  71,  77,  79,  64,  46,  69,
        61,  55,  64,  67,  65,  69,  68,  69,  67,  79,  57,  74,  55,
        61,  64,  59,  69,  65,  58,  79,  89,  44,  75,  65,  65,  72,
        50,  41,  32,  57,  77,  79,  83,  66,  73,  55,  73,  64,  45,
        65,  90,  78,  60,  70,  53,  81,  74,  54,  59,  83,  55,  84,
        44,  71,  86,  89,  70,  99,  48,  52,  97,  44,  74,  67,  58,
        70,  35,  65,  45,  68,  49,  48,  72,  47,  75,  67,  77,  74,
        81,  65,  53,  88,  66,  58,  75,  65,  92,  41,  82,  62])

In [23]:
alvo.shape

(1000,)

In [24]:
# Análise das escalas dos atributos (Escalonamento)
df2.describe()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.483000,2.161000,2.144000,0.348000,0.665000,66.396000,69.002000,67.738000
std,0.499961,1.132414,1.581697,0.476574,0.472227,15.402871,14.737272,15.600985
min,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,27.000000,23.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,56.000000,60.000000,58.000000
50%,0.000000,2.000000,2.000000,0.000000,1.000000,66.500000,70.000000,68.000000
75%,1.000000,3.000000,4.000000,1.000000,1.000000,77.000000,79.000000,79.000000
max,1.000000,4.000000,5.000000,1.000000,1.000000,100.000000,100.000000,100.000000

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
previsores_esc = StandardScaler().fit_transform(previsores)

In [27]:
previsores_esc

array([[-0.96655883, -1.90926764, -0.72363566, ...,  0.03923309,
        -0.13591401, -0.30385073],
       [ 1.03459817,  0.74126587, -1.35618431, ..., -1.714564  ,
        -0.67902695, -0.81689543],
       [-0.96655883,  1.62477704, -0.09108701, ..., -0.48041049,
        -0.61113783, -1.13754838],
       ...,
       [ 1.03459817, -0.1422453 , -1.35618431, ..., -2.23420758,
        -2.30836575, -1.71472367],
       [ 1.03459817, -0.1422453 , -0.09108701, ...,  0.42896578,
         0.33930981,  0.91463045],
       [-0.96655883, -1.90926764, -0.09108701, ..., -0.0906778 ,
        -0.61113783, -0.36798132]])

In [28]:
previsoresdf = pd.DataFrame(previsores_esc)
previsoresdf

,0,1,2,3,4,5,6,7
0,-0.966559,-1.909268,-0.723636,-0.730577,-1.408927,0.039233,-0.135914,-0.303851
1,1.034598,0.741266,-1.356184,1.368782,0.709760,-1.714564,-0.679027,-0.816895
2,-0.966559,1.624777,-0.091087,1.368782,0.709760,-0.480410,-0.611138,-1.137548
3,-0.966559,-1.025756,-0.723636,-0.730577,0.709760,0.688788,0.610866,0.016802
4,-0.966559,1.624777,1.174010,-0.730577,-1.408927,0.753743,0.271421,0.016802
...,...,...,...,...,...,...,...,...
995,-0.966559,-0.142245,-0.723636,-0.730577,0.709760,0.428966,0.067753,-0.175590
996,-0.966559,0.741266,1.174010,1.368782,-1.408927,1.208431,1.493425,1.555936
997,1.034598,-0.142245,-1.356184,1.368782,0.709760,-2.234208,-2.308366,-1.714724
998,1.034598,-0.142245,-0.091087,-0.730577,0.709760,0.428966,0.339310,0.914630
999,-0.966559,-1.909268,-0.091087,-0.730577,-1.408927,-0.090678,-0.611138,-0.367981

In [29]:
# BASE DE TREINO E TESTE
from sklearn.model_selection import train_test_split

In [30]:
x_treino, x_teste, y_treino, y_teste = train_test_split(previsores_esc, alvo, test_size = 0.3, random_state = 0)

In [31]:
x_treino.shape

(700, 8)

In [32]:
y_treino.shape

(700,)

In [33]:
x_teste.shape

(300, 8)

In [34]:
y_teste.shape

(300,)

Regressão logística

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
logistica = LogisticRegression(random_state=1, max_iter=500, penalty="l2",
                               tol=0.0001, C=2,solver="lbfgs")
logistica.fit(x_treino, y_treino)

LogisticRegression(C=2, max_iter=500, random_state=1)

In [37]:
logistica.intercept_

array([-6.66035239, -3.8321102 , -4.02431646, -3.6901313 , -4.03839424,
       -4.22858255, -3.90679379, -4.01231339, -3.74000738, -2.39072063,
       -4.11499074, -2.62864467, -3.61890977, -3.25737755, -1.34801383,
       -0.65243486, -0.71122121, -0.98794873, -0.35017593, -0.22728822,
        0.26536357,  0.23387902, -0.17450553,  0.49175721,  0.83478926,
        0.55159124,  2.2118101 ,  1.67379092,  0.94927711,  2.69807287,
        2.27540448,  2.48726551,  3.06684598,  3.20034453,  2.59272339,
        3.44439233,  3.54107159,  4.0149321 ,  3.82592351,  3.84773687,
        3.45732145,  3.87711637,  2.37768235,  3.87782475,  4.06546904,
        3.46278612,  3.39673177,  3.2603355 ,  2.79734585,  3.16655438,
        2.60131006,  2.15552674,  2.13491111,  2.24929553,  2.00059464,
        1.82623439,  1.68041399,  0.93324138,  0.58207022,  0.96914517,
        0.48652351, -1.33539878, -0.5046275 , -0.83245566, -1.24595353,
       -1.42619107, -2.01776471, -2.10324618, -2.94383457, -2.40303305,
       -4.37943617, -3.54927535, -3.92014902, -8.30880694])

In [38]:
logistica.coef_

array([[-2.92550048e-01, -4.56746304e-01, -1.12760608e-01,
         5.64457851e-01,  5.88119155e-01, -2.08995523e+00,
        -2.23305725e+00, -2.80376121e+00],
       [-6.37984886e-01, -6.57648195e-01, -1.76428624e-02,
         7.00974647e-01,  4.37057945e-01, -5.18616327e-01,
        -2.17425186e+00, -2.25884051e+00],
       [-8.13310020e-01,  4.57406689e-02,  1.59488787e-02,
         5.95255601e-01,  4.77438264e-01, -1.17774026e+00,
        -2.24039935e+00, -1.96180732e+00],
       [-8.12766386e-01, -5.24187816e-02, -1.10831244e+00,
         7.47483001e-01,  5.46525774e-01, -4.45975537e-01,
        -2.03382827e+00, -2.07876136e+00],
       [-9.12796412e-01, -6.32260946e-01, -9.93569615e-01,
        -8.34261757e-01,  5.58538491e-01, -1.58196023e+00,
        -1.69696468e+00, -1.98581508e+00],
       [-2.71839839e-01, -3.99788715e-03, -4.64566909e-01,
         7.53317085e-01,  6.86205198e-01, -1.50287645e+00,
        -1.95895226e+00, -2.28089108e+00],
       [-1.07277971e+00, -1.95262333e-01, -1.05059710e+00,
         2.03597088e-01,  7.79608775e-01, -3.64386953e-01,
        -2.46403405e+00, -2.56345213e+00],
       [-7.70449269e-01,  7.41246773e-02, -4.01196078e-01,
         8.50104604e-01,  8.11362881e-01, -2.15514998e+00,
        -1.00138580e+00, -2.61549198e+00],
       [-1.43599916e-01,  8.55390442e-01,  3.53736928e-01,
        -8.57528112e-02,  1.70858237e-02, -1.50138674e+00,
        -2.43276460e+00, -2.65601516e+00],
       [-8.79691712e-01,  4.78664067e-01,  3.44322978e-01,
        -1.68449332e-01,  6.01353127e-01, -6.29597926e-01,
        -1.88154811e+00, -2.42281039e+00],
       [ 4.58895396e-01, -7.92434441e-01, -8.86456799e-01,
         6.34952074e-01,  5.13319778e-01, -1.79058467e+00,
        -1.65820202e+00, -1.24797862e+00],
       [-1.22473256e+00, -1.39259051e-02, -4.08761687e-01,
         8.99597348e-01,  7.52522079e-01, -1.36295990e+00,
        -1.31645692e+00, -1.76574906e+00],
       [-6.49574600e-01, -6.49978138e-01,  2.29297552e-01,
         8.44020739e-01, -7.41907367e-01, -1.98509621e+00,
        -1.89311172e+00, -1.71566553e+00],
       [-8.05470997e-01, -1.21742380e+00, -1.20356239e+00,
         3.52815775e-01,  1.08872436e+00, -1.47144124e+00,
        -2.00876671e+00, -1.39155534e+00],
       [ 1.54125011e-01, -7.28231037e-01,  1.92242607e-02,
         1.45331992e-01, -2.45267135e-01, -6.06163090e-01,
        -2.07631108e+00, -2.41836002e+00],
       [-5.60086432e-01, -4.89349543e-01, -5.01428090e-01,
         5.73322270e-01,  4.52940355e-01, -5.37244218e-01,
        -9.13202913e-01, -2.93316205e+00],
       [-2.68671203e-01,  7.49563383e-01,  2.53826964e-01,
        -6.32208564e-02, -1.94902653e-02, -1.00657791e+00,
        -1.40838979e+00, -2.71332750e+00],
       [-1.44227996e+00, -4.89387141e-01,  4.59004304e-01,
        -3.15930773e-01,  1.32158241e-01, -1.03863633e+00,
        -1.24250415e+00, -2.37142793e+00],
       [-9.16571026e-01,  1.99840171e-01, -2.67414417e-01,
         3.25448753e-01,  1.03711497e-02, -7.98762389e-01,
        -1.83092259e+00, -1.72278840e+00],
       [-7.25941611e-01,  5.16109754e-01, -5.92837421e-02,
         6.86200238e-02,  1.90403554e-01, -8.92905894e-01,
        -1.58205395e+00, -1.72109539e+00],
       [-1.12404735e+00,  1.90900723e-01,  1.16273772e-01,
        -4.83420140e-01,  1.98397628e-01, -2.09043697e+00,
        -5.74826393e-01, -1.94760181e+00],
       [-4.80016865e-01,  8.01199205e-02, -1.02334796e+00,
         1.90813981e-01,  5.78064395e-01, -4.38467458e-01,
        -1.79942879e+00, -1.50577397e+00],
       [-2.78606112e-01, -4.07768654e-02, -5.43279509e-01,
         9.01188577e-01,  1.25283688e+00, -7.99047441e-01,
        -1.85623824e+00, -8.90052225e-01],
       [-6.46649758e-01, -2.52659478e-01, -7.41655233e-01,
         6.08424583e-02,  4.07414306e-01, -1.00862068e+00,
        -1.43946006e+00, -1.02549591e+00],
       [-1.93998020e-01, -6.10949356e-01, -8.93513737e-02,
         3.42348235e-01,  5.22617500e-01, -1.23480068e+00,
        -1.09112826e+00, -1.17410012e+00],
       [ 3.97694635e-01,  8.49581466e-01,  7.05955216e-01,
        -3.04134773e-01,  4.39082314e-02, -4.64033306e-01,
        -1.66617789e+00, -1.43334482e+00],
       [-1.23043457e-01, -9.38261355e-02, -2.51240490e-01,
         8.77327907e-02, -7.34481075e-02, -3.34400357e-01,
        -5.97087602e-01, -2.01791059e+00],
       [-4.67123934e-01, -2.69823228e-02, -2.66552577e-01,
         6.89868779e-02,  1.35100518e+00, -8.10781333e-01,
        -8.20469246e-01, -1.13173510e+00],
       [ 1.63959068e-02,  1.56899294e-01,  7.71850154e-01,
        -5.06190609e-01, -5.68682988e-01, -8.68672185e-01,
        -7.10671518e-01, -1.44649305e+00],
       [-1.06304701e-01,  1.26612291e-01,  2.37458194e-01,
         2.49562631e-01, -1.16573530e-01, -9.59570213e-02,
        -4.92310412e-01, -1.73696743e+00],
       [-3.56330478e-01,  2.54795331e-01,  2.34583425e-01,
         1.35726676e-01, -1.28441685e-02, -7.51211821e-02,
        -6.45449765e-01, -1.28314217e+00],
       [-4.81734837e-01, -1.76014334e-01, -7.39562156e-02,
        -1.98471472e-01,  1.41511952e+00, -6.30832925e-01,
        -1.19130537e-01, -1.11109703e+00],
       [-9.93981822e-02,  2.58069797e-01,  5.97479453e-02,
         2.64629433e-01, -3.20785830e-02, -3.28933756e-01,
        -8.64059806e-02, -1.25871408e+00],
       [ 1.03100490e-01, -5.37085951e-01, -1.89780439e-01,
         3.41891670e-02,  2.81410407e-01,  1.20647402e-01,
        -6.49219376e-01, -8.67365971e-01],
       [-3.77975680e-01,  5.44697055e-01, -8.16841408e-01,
         3.88501251e-02, -1.53588506e-01, -3.68104709e-01,
        -1.92533512e-01, -6.36200010e-01],
       [ 8.71106520e-03, -4.55463950e-01,  5.34705527e-02,
         8.62639093e-02,  2.93911456e-02, -1.90408416e-01,
        -4.72734363e-01, -4.35445152e-01],
       [-4.53667970e-01,  2.90919223e-02, -1.72535343e-02,
        -6.44677026e-01, -1.14694779e-01, -8.54345842e-01,
         7.04733520e-01, -8.08207485e-01],
       [-2.13950350e-01,  4.14170432e-01, -4.01796014e-01,
        -3.01772250e-01,  1.41251470e-01, -4.50000853e-01,
        -5.71471014e-02, -1.02404950e-01],
       [-1.54132332e-02,  1.61673960e-01,  4.06826786e-01,
         6.65671593e-02, -2.35057369e-02,  4.01797747e-01,
        -7.46728437e-01,  1.07529128e-01],
       [ 2.09454066e-01, -5.95975238e-02,  4.72121116e-01,
         4.84546244e-01,  7.65284893e-03,  2.68030530e-01,
        -8.21200811e-01,  5.65547300e-01],
       [ 5.86120749e-02, -5.85089975e-02,  3.84845412e-01,
        -5.99690017e-01, -3.49856493e-01, -1.48613005e-01,
         9.76433621e-01, -6.06174294e-01],
       [ 4.03209304e-01, -1.46243189e-01,  6.10751298e-02,
         3.06359376e-01, -1.70041165e-01,  9.41210994e-01,
         2.15354355e-01, -2.28732110e-01],
       [-8.25698453e-03, -4.49096206e-01, -5.38148477e-01,
         9.29223476e-01,  8.34211648e-01, -5.61494905e-01,
         2.37293501e-01,  1.14230054e+00],
       [-1.43986147e-01, -8.14965281e-03,  3.81407262e-02,
         1.37185698e-01, -2.97226166e-01, -1.18491377e-01,
         8.82758839e-01,  4.66018131e-01],
       [ 3.35311115e-01,  4.57337730e-01,  1.27115881e-01,
         7.90626562e-03, -2.77490719e-01,  3.84004239e-01,
         5.47689781e-01,  4.90216699e-01],
       [ 9.82187757e-02, -3.10164997e-01, -1.44451409e-01,
        -2.43176529e-01,  1.18731007e-01,  7.92301858e-01,
         9.82875238e-01,  3.40399157e-01],
       [-1.03211461e-01,  5.00813583e-01, -1.60070124e-01,
        -6.47013060e-01, -4.52957926e-01, -2.49615558e-01,
         3.01927306e-01,  1.47546622e+00],
       [ 2.69640899e-01, -1.60608016e-01,  3.46100723e-01,
        -4.04208248e-01,  5.38305218e-02,  3.63236038e-01,
         4.28910341e-01,  1.30431435e+00],
       [ 6.33548893e-01,  1.54577625e-01, -8.02201668e-02,
        -4.02385118e-02, -1.12478695e+00,  8.93466911e-01,
         1.16477566e+00,  4.29854597e-01],
       [ 1.15558453e-01, -1.66960520e-01,  1.60468106e-01,
        -4.17604963e-01, -2.47994827e-01,  6.22355025e-01,
         7.49468631e-01,  1.36542175e+00],
       [-2.44069485e-01,  6.99400737e-02, -2.56381576e-02,
        -3.36782269e-02, -2.97729505e-01, -1.76172216e-01,
         1.81973759e+00,  1.35340214e+00],
       [ 2.08553914e-01, -4.05770306e-01,  4.66001270e-01,
         2.91738919e-01, -7.84293924e-01,  9.09640832e-01,
         2.14811533e+00,  6.36657916e-01],
       [ 6.50380825e-01, -3.45707362e-01, -4.09350678e-01,
        -3.32410390e-01,  2.11843931e-01,  1.25081023e+00,
         3.17724033e-02,  2.12166119e+00],
       [-2.37529427e-01, -1.56047239e-01, -1.59269428e-01,
        -1.42379207e-01, -7.30504462e-03,  4.44688072e-01,
         1.13167896e+00,  2.25738916e+00],
       [ 2.01675451e-01,  2.63236774e-01,  2.04510670e-01,
         1.18492545e-01, -5.00879702e-01,  1.27687613e+00,
         9.17056755e-01,  1.84713925e+00],
       [ 5.78589856e-01,  1.63528403e-01,  7.64160095e-02,
         5.14754019e-01, -6.84723968e-01,  1.38554580e+00,
         6.34388380e-01,  2.20243182e+00],
       [ 6.82169231e-01, -1.80362719e-01,  6.30747021e-01,
         2.69906350e-01, -3.97064062e-01,  1.41407917e+00,
         1.13654347e+00,  2.03699405e+00],
       [ 8.90309300e-01,  3.27833877e-02,  4.26228461e-01,
        -5.45362337e-01, -9.35840776e-02,  1.16314820e+00,
         2.81820978e+00,  1.00165907e+00],
       [ 2.78198947e-01,  3.75345203e-01,  8.06731028e-01,
        -1.16618229e+00, -3.07393317e-01,  3.42743271e-01,
         1.81556564e+00,  2.29901954e+00],
       [ 4.13597976e-01,  2.93824150e-01,  4.36817561e-01,
        -1.62635299e-01, -2.35631720e-01,  1.18625555e+00,
         1.63882153e+00,  2.45382344e+00],
       [ 1.07058288e+00,  7.81861234e-02,  3.86174611e-01,
        -4.08390640e-01, -4.10840375e-01,  1.75726873e+00,
         1.29288183e+00,  2.40194276e+00],
       [ 5.87613102e-01,  1.23710171e-01, -3.64737509e-02,
        -6.99544734e-01, -1.75174787e-01,  3.15301481e+00,
         8.82101543e-01,  2.16044728e+00],
       [ 1.76891343e+00,  1.65668394e-01,  6.72561841e-03,
        -6.63486113e-02, -3.10611994e-01,  1.05478719e+00,
         1.81405386e+00,  2.83016244e+00],
       [ 6.39584031e-01, -3.15687011e-02, -5.73046649e-02,
        -1.67433853e-01, -1.00861257e+00,  1.78938727e+00,
         2.07826510e+00,  2.50223848e+00],
       [ 1.25075701e-01,  1.22893436e-02, -3.97683509e-01,
        -5.48080967e-01,  7.11141346e-01,  1.12313568e+00,
         2.06421331e+00,  2.14301877e+00],
       [ 8.25506992e-01, -2.87668798e-01, -1.52025258e-01,
        -8.04076010e-01, -9.46264810e-01,  9.98434499e-01,
         2.01337836e+00,  2.87232108e+00],
       [ 8.95118890e-01,  3.45575409e-01,  8.18882961e-01,
        -1.08632704e+00, -5.33530474e-01,  1.22297994e+00,
         1.81224014e+00,  3.48467749e+00],
       [ 7.51799274e-01, -1.37960772e-01, -1.89049091e-01,
        -7.42840497e-01, -1.50010697e+00,  1.08416771e+00,
         1.63463754e+00,  3.12470904e+00],
       [ 4.42103661e-01, -3.05730906e-01,  1.04365318e-02,
         5.28903343e-01, -1.04132969e+00,  1.79616055e+00,
         2.67638518e+00,  3.42335188e+00],
       [ 1.11518700e+00,  4.43689031e-01, -4.07774902e-01,
        -5.81676517e-01,  6.53825962e-01,  1.14561031e+00,
         2.07988330e+00,  2.62358635e+00],
       [ 6.48815120e-01,  4.19192589e-01, -7.29691103e-02,
        -1.03926074e+00, -1.14468484e+00,  1.11053039e+00,
         3.12385363e+00,  3.77550240e+00],
       [ 9.39538252e-01,  1.12154040e+00,  1.47047853e+00,
         9.49956902e-01, -1.25482577e+00,  1.40527166e+00,
         2.04375406e+00,  1.54337932e+00],
       [ 9.71925742e-01,  2.40962773e-01,  1.70040069e+00,
         3.42109670e-01,  5.70512468e-01,  1.29465125e+00,
         2.76789250e+00,  2.39412317e+00],
       [ 1.40869536e+00,  5.34722228e-01,  1.42909024e+00,
        -8.83243191e-01, -1.36987833e+00,  2.65913166e+00,
         3.31780537e+00,  4.09900844e+00]])

In [39]:
previsoes_logistica = logistica.predict(x_teste)
previsoes_logistica

array([ 60,  75,  58,  66,  49,  48,  64,  72,  64, 100,  23,  74,  83,
        76,  74,  64,  84,  66,  73,  89,  69,  83,  66,  47,  79,  64,
        44,  64,  69,  49,  65,  60,  64,  83,  44,  90,  56,  66,  64,
        71,  84,  95,  93,  78,  72,  65,  69,  71,  75,  84,  78,  79,
        48,  66,  78,  73,  63,  79,  78,  80,  72,  64,  87,  65,  61,
        47,  90,  71,  64,  47,  72,  47,  47,  64,  65,  66,  70,  78,
        71,  60,  47,  90,  49,  78,  73,  58,  63,  87,  64,  63,  92,
        64,  58,  73,  88,  86,  33,  72,  64,  48,  39,  65,  70,  76,
        80,  56,  89,  49,  64,  73,  42,  76,  78,  84,  64,  89,  81,
        75,  71,  93, 100,  71,  55,  73,  66,  66,  66,  43,  56,  58,
        64,  66,  95,  52,  56,  84,  44,  64,  74,  60,  73,  53,  76,
        83,  51,  47,  75,  79,  54,  87,  64,  72,  75,  64,  72,  58,
        84,  64,  88,  82,  82,  71,  66,  75,  70,  87,  56,  75,  52,
        60,  60,  51,  60,  95,  48,  97,  84,  85,  65,  78,  84,  62,
        63, 100,  64,  47,  45,  70,  72,  83,  79,  35,  89,  71,  64,
        65,  53,  66,  42,  75,  71,  69,  47,  66,  74,  64,  86,  44,
        78,  82,  42,  62,  60,  71,  84,  64,  99,  66,  66,  63,  47,
        72,  88,  74,  86,  66, 100,  71,  35,  84, 100,  71,  92,  86,
        64,  48,  56, 100,  72,  53,  89,  95,  67,  64,  84,  39,  70,
        56,  70,  63,  67,  58,  64,  58,  72,  73,  72,  63,  60,  66,
        67,  47,  64,  66,  64,  47,  72,  80,  56,  65,  81,  66,  64,
        84,  53,  48,  69,  49,  44,  66,  73,  72,  85, 100,  69,  88,
        58,  49,  60,  48,  64,  71,  49,  47,  42,  64,  79,  64,  73,
        88])

In [40]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [41]:
print("Acurácia: %.2f%%" % (accuracy_score(y_teste, previsoes_logistica) * 100.0))

Acurácia: 8.67%

In [42]:
confusion_matrix(y_teste, previsoes_logistica)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 2],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 3]])

In [43]:
print(classification_report(y_teste, previsoes_logistica))

              precision    recall  f1-score   support

          23       0.00      0.00      0.00         0
          27       0.00      0.00      0.00         1
          28       0.00      0.00      0.00         1
          30       0.00      0.00      0.00         1
          33       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          35       0.00      0.00      0.00         1
          36       0.00      0.00      0.00         1
          37       0.00      0.00      0.00         1
          39       0.00      0.00      0.00         2
          40       0.00      0.00      0.00         1
          41       0.00      0.00      0.00         1
          42       0.00      0.00      0.00         0
          43       0.00      0.00      0.00         3
          44       0.00      0.00      0.00         4
          45       0.00      0.00      0.00         3
          47       0.00      0.00      0.00         3
          48       0.00      0.00      0.00         6
          49       0.00      0.00      0.00         7
          50       0.00      0.00      0.00         8
          51       0.00      0.00      0.00         2
          52       0.00      0.00      0.00         2
          53       0.00      0.00      0.00         3
          54       0.00      0.00      0.00         5
          55       0.00      0.00      0.00         5
          56       0.12      0.33      0.18         3
          57       0.00      0.00      0.00         7
          58       0.00      0.00      0.00         4
          59       0.00      0.00      0.00         8
          60       0.00      0.00      0.00        10
          61       1.00      0.14      0.25         7
          62       0.50      0.14      0.22         7
          63       0.14      0.17      0.15         6
          64       0.09      0.50      0.15         6
          65       0.12      0.10      0.11        10
          66       0.05      0.11      0.07         9
          67       0.00      0.00      0.00         2
          68       0.00      0.00      0.00         7
          69       0.00      0.00      0.00         7
          70       0.17      0.10      0.12        10
          71       0.23      0.30      0.26        10
          72       0.14      0.33      0.20         6
          73       0.20      0.17      0.18        12
          74       0.00      0.00      0.00         3
          75       0.00      0.00      0.00         6
          76       0.00      0.00      0.00         6
          77       0.00      0.00      0.00         7
          78       0.00      0.00      0.00         5
          79       0.00      0.00      0.00         7
          80       0.00      0.00      0.00         6
          81       0.00      0.00      0.00         4
          82       0.67      0.18      0.29        11
          83       0.40      0.29      0.33         7
          84       0.00      0.00      0.00         3
          85       0.00      0.00      0.00         4
          86       0.00      0.00      0.00         2
          87       0.25      0.25      0.25         4
          88       0.00      0.00      0.00         4
          89       0.20      0.12      0.15         8
          90       0.00      0.00      0.00         4
          91       0.00      0.00      0.00         2
          92       0.00      0.00      0.00         3
          93       0.00      0.00      0.00         2
          94       0.00      0.00      0.00         1
          95       0.00      0.00      0.00         0
          96       0.00      0.00      0.00         1
          97       0.00      0.00      0.00         2
          99       0.00      0.00      0.00         1
         100       0.43      1.00      0.60         3

    accuracy                           0.09       300
   macro avg       0.07      0.06      0.05       300
weighted avg       0.12      0.09      0.08       300

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [45]:
# Análise dados de treino
previsoes_treino = logistica.predict(x_treino)
previsoes_treino

array([ 85,  60,  56,  70,  65,  69,  83,  76,  64,  58,  40,  64,  71,
        87,  78,  43,  60,  76,  44,  56,  90,  64,  74,  64,  69,  64,
        71,  72,  63,  83,  63,  84, 100,  47,  84,  63,  85,  72,  64,
        64,  63,  59,  58,  85,  83,  49,  47,  66, 100,  71,  73,  66,
        70,  86,  88,  75,  64,  32,  58,  64,  78,  67,  72,  73,  67,
        83,  73,  56,  81,  64,  75,  60,  61,  66,  58,  40,  71,  43,
        89,  74,  75,  83,  66,  70,  43,  69,  87,  64,  58,  61,  62,
        69,  64,  97,  74,  49,  71,  88,  63,  72,  85,  33,  69,  89,
        51,  75,  87,  58,  97,  83, 100,  64,  65,  71,  42,  86,  71,
        93,  65,  64,  64,  44,  76,  67,  56,  73,  44,  52,  64,  51,
        79,  65,  58,  39,  79,  86,  60,  66,  64,  58,  66,  95,  90,
        64,  59,  66,  35,  78,  47,  84,  72,  64,  83,  83,  86,  49,
        66,  65,  78,  33,  42,  65,  79,  64,  73,  60,  82,  73,  83,
        95,  89,  83,  60,  64,  64,  40,  84,  42,  49,  42,  64,  58,
        56,  73,  84,  64,  66,  66,  85,  84,  44,  64,  45,  69,  76,
        73,  53,  47,  79,  64,  58, 100,  86,  79,  66,  97,  67,  84,
        64, 100,  58,  72,  62,  56,  73,  99,  61, 100, 100,  84,  78,
        66,  72,  72,  63,  23,  82,  49,  93,  44,  82, 100,  87,  60,
        73,  79,  75,  64,  69,  53,  97,  73,  66,  64,  65,  65,  64,
        66,  64,  64,  70,  72,  47,  60,  71,  42,  70,  64,  43,  64,
        72,  79,  45,  75,  42,  35,  73,  76,  78,  69,  69,  89,  84,
        86,  51,  65,  83,  84,  73,  67,  90,  65,  47,  47,  76,  67,
        84,  70,  64,  56,  89,  64,  66,  49, 100,  75,  73,  56,  44,
        64,  71,  48,  53,  48,  51,  43,  42,  58,  64,  66,  75,  47,
        48,  64,  66,  65,  87,  74,  72,  47,  68,  42,  42,  65,  64,
        67,  66,  66,  62,  71,  64,  66,  42,  72,  48,  32,  71,  70,
        45,  82,  54,  69,  51,  89,  66, 100,  73, 100,  58,  73,  78,
        58,  88,  81, 100,  66,  65,  64,  78,  49,  51,  76,  71,  78,
        67,  72,  44,  95,  61,  39,  76,  63,  79,  95,  49,  65,  95,
        90,  97,  75,  85,  64,  66,  64, 100,  42,  93,  70,  60,  67,
        58,  47,  60,  64,  72,  64,  64,  73,  58,  75,  63,  40,  64,
        58,  53,  71,  60,  93,  72,  84,  64,  48,  69,  75,  53,  78,
        68,  88,  53,  88,  74,  71,  58,  33,  70,  66,  64,  88,  42,
        64,  65,  64,  78,  84,  58,  81,  56,  75,  56,  54,  49,  76,
       100,  78,  44,  75,  71,  66,  88,  78,  58,  75,  64,  90,  49,
        73,  97,  95,  66,  65,  64,  87,  47,  86,  64,  90,  74,  49,
        43,  90,  67, 100,  95,  92,  47,  58,  80,  86, 100,  90,  60,
       100,  73,  53,  66,  47,  58,  78,  93,  82,  61,  79,  66,  60,
        64,  55,  64,  42,  90,  44,  74,  62,  64,  49,  42,  40,  69,
        69,  60,  83,  85,  69,  55,  62,  72,  66,  42,  56,  48,  71,
        35,  66,  56,  71,  64,  80,  84,  69,  89,  90,  93,  75,  82,
        41,  71,  66,  72,  84,  39,  62,  62,  69,  97,  74,  69,  44,
        73,  49,  59,  64,  87,  69,  64,  66, 100,  71,  60,  41,  60,
        59,  44,  42,  82,  66,  51,  64,  43,  73,  71,  86,  47,  69,
        78,  56,  61,  87, 100,  70,  95,  72,  82,  44,  73,  47,  66,
        79,  69,  60,  54,  73,  56,  43,  73,  66,  97,  62,  52,  64,
        66,  63,  64,  73,  69,  80,  64,  41,  54,  79,  75,  76,  66,
        72,  66,  80,  47,  97,  49,  82,  86,  78,  64,  66,  63,  61,
        73,  61,  78,  67,  89,  93,  72, 100,  71,  49,  71,  43,  88,
        92,  92,  84,  60,  64,  71,  65,  69,  32,  75,  63,  89,  65,
        71,  64,  69,  71,  64,  43,  48,  63,  69,  42,  44,  72,  49,
        71,  67,  64,  84,  78,  64,  71,  63,  64,  75,  79,  66,  40,
        76,  88,  64,  66,  66,  65, 100,  51,  71,  73,  92,  64, 100,
        71,  64,  49,  53,  88,  95,  79,  61,  58,  43,  70])

In [46]:
accuracy_score(y_treino, previsoes_treino)

0.26571428571428574

In [47]:
confusion_matrix(y_treino, previsoes_treino)

array([[ 1,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  1],
       [ 0,  0,  0, ...,  0,  1,  1],
       [ 0,  0,  0, ...,  0,  0, 14]])